.wpfancybox3 input[type=text],
.wpfancybox3 input[type=number],
.wpfancybox3 textarea,
.wpfancybox3 select {
    display: block;
    width: 100%;
    padding: 7px;
    min-height: 40px;
    border: 1px solid #cfdfe6;
    max-width: 400px;
}

.wpfancybox3 textarea {
    min-height: 200px;
}

.wpfancybox3 label {
    padding-right: 5px;
    display: block;
}

.wpfancybox3 th {
    width: 20%;
}

.wpfancybox3-footer {
    text-align: center;
}

.wpfancybox3 .heading {
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
}